.rootSwitchField:focus-within {
  border-color: var(--color1);
  outline: none;
}

.bodySwitchField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labelWrapperSwitchField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}

.labelSwitchField {
  color: var(--colorTextWhite);
  font-size: 1rem;
  font-family: var(--text-font-body);
  letter-spacing: var(--text-letter-spacing);
  pointer-events: none;
}

.descriptionSwitchField {
  color: var(--colorTextWhite);
  font-size: 0.8rem;
  margin-top: 4px;
  font-family: var(--text-font-body);
  letter-spacing: var(--text-letter-spacing);
}

.trackSwitchField {
  /* --h: 40px;
  --pad: 3px;
  --bw: 1px;
  --r: 5px;

  height: var(--h);
  min-width: calc(var(--h) * 1.9);
  background-color: transparent;
  border: var(--bw) solid var(--color1-shadow);
  border-radius: var(--r);
   */
  transition: background-color 160ms ease, border-color 160ms ease;
  margin-left: 10px;
  order: 2;
}

/* .trackSwitchField:hover {
  border-color: var(--color1);
}

.trackSwitchField[data-checked="true"] {
  background-color: color-mix(in oklab, var(--accent) 35%, transparent);
  border-color: var(--accent);
}

.thumbSwitchField {
  height: calc(var(--h) - var(--pad) * 2);
  width: calc(var(--h) - var(--pad) * 2);
  background: var(--color1);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35), inset 0 0 0 1px var(--panel-border);
} */
